@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>Hello, This is from view.cshtml</h1>
        <h2>This is a test value</h2>
    </div>
</body>
</html>
