@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Comic Book Detail";

}
<h1>@ViewBag.SeriesTitle</h1>
<h2>@ViewBag.IssueNumber</h2>
<h5>Description:</h5>
<p>@Html.Raw(ViewBag.Description) </p>

@if (ViewBag.Artist.Length > 0)
{

    <h5>Artists:</h5>
    <div>
        <ul>

            @foreach (var item in ViewBag.Artist)
            {
                <li>  @item  </li>

            }



        </ul>
    </div>
}
else
{
    <div>@ViewBag.Warning</div>
}

